<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>396395818522-ep57n3cd1ed7pv7sj0m47i92poib7c65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396395818522-ep57n3cd1ed7pv7sj0m47i92poib7c65</string>
	<key>API_KEY</key>
	<string>AIzaSyBeKWEW4wQtlRvg4OD4VkPZZvq1KnrwsGg</string>
	<key>GCM_SENDER_ID</key>
	<string>396395818522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pankajgaikar.WorldCup-2022-Countdown-Widgets</string>
	<key>PROJECT_ID</key>
	<string>worldcup-2022-countdown</string>
	<key>STORAGE_BUCKET</key>
	<string>worldcup-2022-countdown.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396395818522:ios:204e6f1e16133fc4eb2ba3</string>
</dict>
</plist>